#jordan {
  display: flex;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 30px;
  width: 81em;
  height: 30em;
}

#arashi {
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5em;
  font-family: Georgia, serif;
  color: white;
}

.my-class {
  margin: 30px;
  border: 2px solid red;
  padding: 4px;
  background-color: orange;
  font-size: 2em ;
}

body {
  background-image: url(https://images.unsplash.com/photo-1521132580291-7540211c3c39?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22e668da0c0e531c2b3f4aebdce45f3b&auto=format&fit=crop&w=1600&q=80);
background-repeat: no-repeat;
font-family: Georgia, serif;
  color: black;
}

p {
  color: orange;
}

.important {
  style:italic;
  color:#006 ;
}

.nap {
  width: 300px ;
  height: 275px ;
  float: right ;
}

.lala {
  width: 300px ;
  height: 275px ;
}

.column {
  width: 300px;
  float: left;
}

a {
  color: blue;
}
